@import '@styles/variables';

.button {
  border: none;
  height: 80px;
  padding: 0;
  background-color: $grey;
  font-weight: 500;
  font-family: $font-roboto;
  font-size: 20px;
  box-shadow: $bs-dark-aqua-4;
  cursor: pointer;

  &_long {
    width: 380px;
  }
  &_short {
    width: 280px;
  }

  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in;

  &:hover {
    color: $grey;
    background-color: $dark-green;
  }
}
