@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Rubik:wght@400;500;700;800&display=swap');

$dark-green: #203836;
$pale-green: #3d6b67;
$electric: #8df7ee;
$dark-electric: #7eded6;
$dark-aqua: #6bbdb6;
$dark-aqua-30: #83e6de;
$grey: #c5c5c5;

$bs-dark-aqua-4: 4px 4px 4px 0px $dark-aqua;
$br-50: 50px;
$br-20: 20px;

$font-roboto: 'Roboto Mono', monospace;
$font-rubik: 'Rubik', sans-serif;
